.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget__message {
  color: $off-white;
  margin: none;
  padding: $l-size;
  text-align: center;
  bottom-border: 1px solid lighten($light-blue, 10%);
}
// Widget header

.widget-header {
  background-color: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}
